<nav class="navbar border-bottom border-body fixed-top" data-bs-theme="light">
  <div class="container-fluid">
    <div class="col-3">
      <div class="d-flex flex-row">
        <button class="btn" (click)="toggleSideMenu()">
          <fa-icon
            [icon]="togleIcon"
            size="2x"
            [styles]="stylesRecord"
          ></fa-icon>
        </button>
        <img class="ms-3"
          [width]="150"
          src="../../assets/images/mirriga-logo-white.png"
          alt="Gotas d'água caindo numa plantinha seguido do texto mirriga"
        />
      </div>
    </div>
    <div class="col-6">
      <div class="d-flex justify-content-center">
        <span class="navbar-title"
          >Sistema de Manejo de Irrigação para a Agricultura</span
        >
      </div>
    </div>
    <div class="col-3">
      <div class="d-flex justify-content-end">
        <p-avatar label="EF" shape="circle" size="large"></p-avatar>
      </div>
    </div>
  </div>
</nav>
