<p-dialog
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '60rem', height: '30rem' }"
>
  <ng-template pTemplate="header">
    <div class="inline-flex align-items-center justify-content-center gap-2">
      <div class="d-flex align-items-center">
        <img
          src="../../../assets/images/icons/menu/soil.png"
          alt="soil icon"
          width="40"
          height="40"
        />
        <span class="fw-bold header-text ms-3"> Solos Cadastrados </span>
      </div>
    </div>
  </ng-template>
  <p-dataView [value]="soils">
    <ng-template let-soil pTemplate="list">
      <div *ngFor="let soil of soils" class="container">
        <div class="row mb-5">
          <div class="fw-bold soil-name">
            {{ soil.name }}
          </div>
          <hr />
          <div class="col-10">
            <b>Capacidade de Campo (CC):</b> {{ soil.fieldCapacity }} cm³/cm³
            <br />
            <b>Ponto de Murcha Permanente (PMP):</b>
            {{ soil.permanentWiltingPoint }} cm³/cm³
            <br />
            <b>Densidade (d<sub>a</sub>):</b> {{ soil.density }} g/cm³
          </div>
          <div class="col-1">
            <p-button
              icon="pi pi-pencil"
              severity="info"
              [outlined]="true"
              (onClick)="editSoil(soil)"
            />
          </div>
          <div class="col-1">
            <p-button
              icon="pi pi-trash"
              severity="danger"
              [outlined]="true"
              (onClick)="deleteSoil(soil.id)"
            />
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</p-dialog>
