<p-dialog
  [modal]="true"
  [(visible)]="visible"
  (onHide)="sensorForm.reset()"
  [style]="{ width: '570px' }"
>
  <ng-template pTemplate="header">
    <div class="inline-flex align-items-center justify-content-center gap-2">
      <div class="d-flex align-items-center">
        <img
          src="../../../assets/images/icons/menu/soil-moisture-sensor.png"
          alt="soil moisture sensor icon"
          width="40"
          height="40"
        />
        <span class="fw-bold header-text ms-3"> {{ title }} </span>
      </div>
    </div>
  </ng-template>
  <form [formGroup]="sensorForm" (ngSubmit)="onSubmit()">
    <span class="p-text-secondary d-block mb-5"
      >Forneça os dados do sensor.</span
    >
    <div class="d-flex flex-row align-items-start mb-3">
      <div class="d-flex flex-column align-items-start">
        <label for="sensor-name" class="fw-semibold">Nome do Sensor</label>
        <input
          [formControl]="sensorForm.controls.name"
          pInputText
          id="sensor-name"
          class="flex-auto"
          autocomplete="off"
        />
      </div>
      <div class="d-flex flex-column align-items-start ms-4">
        <label for="sensor-plantation" class="fw-semibold"
          >Adicionar à plantação:</label
        >
        <p-dropdown
          id="plantation-area"
          [options]="plantationOptions"
          optionLabel="name"
          [formControl]="sensorForm.controls.plantation"
          [showClear]="true"
          [style]="{ width: '250px' }"
          placeholder="Selecione"
        ></p-dropdown>
      </div>
    </div>
    <div class="d-flex flex-column mb-3">
      <label for="sensor-eui" class="fw-semibold"
        >Identificador do Sensor (DeviceEUI)</label
      >
      <input
        [formControl]="sensorForm.controls.sensorEui"
        pInputText
        id="sensor-eui"
        class="flex-auto"
        autocomplete="off"
        [maxlength]="16"
        [minlength]="16"
      />
    </div>
    <div class="d-flex flex-row align-items-start mb-3">
      <div class="d-flex flex-column align-items-start">
        <label for="sensor-latitude" class="fw-semibold">Latitude</label>
        <p-inputNumber
          [formControl]="sensorForm.controls.latitude"
          inputId="sensor-latitude"
          mode="decimal"
          [minFractionDigits]="6"
          [maxFractionDigits]="6"
          [min]="-90"
          [max]="90"
        />
      </div>
      <div class="d-flex flex-column align-items-start ms-4">
        <label for="sensor-longitude" class="fw-semibold">Longitude</label>
        <p-inputNumber
          [formControl]="sensorForm.controls.longitude"
          inputId="sensor-longitude"
          mode="decimal"
          [minFractionDigits]="6"
          [maxFractionDigits]="6"
          [min]="-180"
          [max]="180"
        />
      </div>
    </div>
    <div class="d-flex justify-content-end gap-2 mt-3">
      <p-button
        label="Cancelar"
        severity="secondary"
        (click)="visible = false"
      />
      <p-button type="submit" label="Salvar" [disabled]="!sensorForm.valid" />
    </div>
  </form>
</p-dialog>
