<div class="container">
  <div class="d-flex align-items-center mt-3">
    <img
      src="../../../assets/images/icons/menu/field-new.png"
      width="40px"
      height="40px"
      alt="New Field Icon"
    />
    <h3 class="title">Cadastrar Nova Área</h3>
  </div>
  <hr />
  <form [formGroup]="createAreaForm" (ngSubmit)="onSubmit()">
    <div class="row mb-5">
      <div class="col-4">
        <div class="row"><label for="name"> Nome da Área </label></div>
        <div class="row">
          <input
            pInputText
            id="name"
            formControlName="name"
            style="margin-left: 12px"
            placeholder="Digite um nome para a nova área"
          />
        </div>
      </div>
      <div class="col-3 offset-1">
        <div class="row"><label for="name"> Tipo de Solo </label></div>
        <div class="row">
          <p-dropdown
            [options]="soils"
            optionLabel="name"
            optionValue="id"
            formControlName="soilId"
            [filter]="true"
            filterBy="name"
            [showClear]="true"
            placeholder="Selecione um solo"
            [style]="{ width: '100%' }"
          ></p-dropdown>
        </div>
      </div>
    </div>

    <div formArrayName="coordinates">
      <div *ngFor="let coordinateForm of coordinates.controls; let i = index">
        <!-- The repeated coordinate template -->
        <div
          class="row"
          [formGroup]="castCoordinateFormToFormGroup(coordinateForm)"
        >
          <p-divider>
            <label for="coordinate-{{ i }}">Coordenada {{ i + 1 }} </label>
          </p-divider>
          <div class="col-3">
            <label for="latitude">Latitude</label>
            <br />
            <p-inputNumber
              inputId="latitude"
              formControlName="latitude"
              mode="decimal"
              locale="en-US"
              [useGrouping]="false"
              [minFractionDigits]="2"
              [maxFractionDigits]="14"
            />
          </div>
          <div class="col-3 offset-2">
            <label for="longitude">Longitude</label>
            <br />
            <p-inputNumber
              inputId="longitude"
              formControlName="longitude"
              mode="decimal"
              locale="en-US"
              [useGrouping]="false"
              [minFractionDigits]="2"
              [maxFractionDigits]="14"
            />
          </div>
          <div class="col">
            <br />
            <p-button
              icon="pi pi-trash"
              [rounded]="true"
              [text]="true"
              severity="danger"
              (onClick)="deleteCoordinate(i)"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-3">
        <p-button (click)="addCoordinate()"> Adicionar Coordenada </p-button>
      </div>
      <div class="col-3 offset-2">
        <div class="d-flex">
          <p-button severity="danger" (onClick)="cancelChanges()">Cancelar</p-button>
          <p-button
            class="ms-4"
            type="submit"
            [disabled]="!createAreaForm.valid"
            severity="success"
            >Salvar</p-button
          >
        </div>
      </div>
    </div>
  </form>
</div>
