<div class="container-fluid">
  <app-header></app-header>
  <p-toast life="7000" />
  <router-outlet></router-outlet>
  <p-confirmDialog />
  <app-create-soil></app-create-soil>
  <app-show-soils></app-show-soils>
  <app-create-agricultural-crop></app-create-agricultural-crop>
  <app-show-agricultural-crops></app-show-agricultural-crops>
  <app-create-irrigation-system></app-create-irrigation-system>
  <app-show-irrigation-systems></app-show-irrigation-systems>
  <app-create-plantation></app-create-plantation>
  <app-show-plantations></app-show-plantations>
  <app-spinner></app-spinner>
  <app-menu></app-menu>
  <app-footer></app-footer>
</div>
